<div id="<%= dom_id user %>" class="grid-container">
  <div class="grid-photo">
    <img src="<%= user.photo %> ">
  </div>
  <div class="grid-item">
    <h1><%= link_to user.name, user %></h1>
    <span class="post-counter"> <%= link_to "Number Of Posts:", user %> <%= link_to user.posts_counter, user %></span>
  </div>
  
  
</div>