<%= render @user %>
<div class="grid-container">
  <h3 class="user_bio"><%= @user.bio %> </h3>
</div>
<%= render @posts%>
<span class="see-more"> 
<%= redirect_to @posts %>
<%# <%= link_to 'See More', post %>  %>
</span> 