<%# <% if user_signed_in? %> 
<%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
<%= render @user %>
<div class="grid-container">
  <h3 class="user_bio"><%= @user.bio %> </h3>
</div>
 <h3 class="new-post"><%= link_to 'Create New Post', new_user_post_path(@user) %></h3>
<%= render @user.three_most_recent_posts%>
<span class="see-more">  
<%= link_to "See More Posts", user_posts_path(@user) %>
</span> 
<%# <% else %> 
<%= link_to 'Sign In', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>
<%# <% end %> 