<%= form_with model: @post, :url => "new_user_post_path" do |form| %>

  <div>
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.label :comments_counter %>
    <%= form.number_field :comments_counter %>
  </div>

  <div>
    <%= form.label :likes_counter %>
    <%= form.number_field :likes_counter %>
  </div>
    <%= form.submit "Submit Post" %>
  </div>
<% end %>