   
  <div id="<%= dom_id post %>" class="grid-container">
  <div class="new-post">
  </div>
   <div class="post-display">
        <p>
          <strong>Post #<%= post.id %></strong>
        </p>
        <p class="title">
        <strong><%= link_to post.title, user_post_path(@user, post.id) %></strong>
      </p>
       <p>
        <%= link_to post.text, user_post_path(@user, post.id) %>
      </p>
      <%= button_to "Delete", { :action => 'destroy', :user_id => @user.id, :id => post.id }, :method => :delete %>
      <span class="counter-span">
        <strong><%= link_to  "Add Comments:", new_user_post_comment_path(@user, post.id) %> <%= post.comments.count %></strong>
        <strong><%= link_to "Likes:", new_user_post_like_path(@user, post.id) %>  <%= post.likes.count %></strong>
      </span>
      <div class="comment-display">
      <%= render post.five_most_recent_comments %>
      </div>
   </div>
 </div>