   
  <div id="<%= dom_id post %>" class="grid-container">
     <div class="post-display">
   <p>
    <strong>Post #<%= post.id %></strong>
  </p>
    <p>
    <%= link_to post.text, user_post_path(@user, post.id) %>
  </p>

  <span class="counter-span">
    <strong>Comments:  <%= post.comments_counter %></strong>
    <strong>Likes:  <%= post.likes_counter %></strong>
  </span>
  </div>
</div>

</div>